[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alembic = "==1.10.2"
certifi = "==2022.12.7"
cfgv = "==3.3.1"
click = "==8.1.3"
distlib = "==0.3.6"
filelock = "==3.10.6"
flask = "==2.2.3"
flask-migrate = "==4.0.4"
flask-sqlalchemy = "==3.0.3"
flask-wtf = "==1.1.1"
greenlet = "==2.0.2"
identify = "==2.5.22"
itsdangerous = "==2.1.2"
jinja2 = "==3.1.2"
mako = "==1.2.4"
markupsafe = "==2.1.2"
platformdirs = "==3.2.0"
pre-commit = "==3.2.1"
python-dotenv = "==1.0.0"
pyyaml = "==6.0"
six = "==1.16.0"
sqlalchemy = "==2.0.7"
typing-extensions = "==4.5.0"
werkzeug = "==2.2.3"
wtforms = "==3.0.1"
virtualenv = "*"
virtualenv-clone = "*"
flask-login = "*"
email-validator = "*"
flask-mail = "*"
pyjwt = "*"
flask-bootstrap = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.2"
